.login-container-left {
  padding: 2em;
  background: #88A2AA url("../../../assets/io.svg") no-repeat center;
}
.login-container-right {
  padding: 2em;
  background: #FFFFFF;

  p {
    line-height: 1.6em;
    color: #B1B1B1;
  }
}